<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{student[1]}} Details</title>
</head>
<body>
<div class="'student_form">
    <form action="/edit/{{student[0]}}" method="POST">
        <input type="text" name="student_name" required="required" id="student_name" value="{{student[1]}}">
        <input type="date" name="student_dob" required="required" id="student_dob" value="{{student[2]}}">
        <input type="email" name="student_email" id="student_email" value="{{student[3]}}">
        <button type="submit">Submit</button>
    </form>

    </div>
</body>
</html>